abf1
abf2
abftemplate
abftemplate2
abftemplate3
abftemplate4
aMD_alignment_alpha.tcl
aMD_alignment.tcl
aprod
bcp
catdcd
cl
double_loop.1.tcl
eq_100ns.pdb
eqjob
firststep
fix
full
inptemplate1
inptemplate2
inptemplatelong
job
lo
md
min
mod
quickie
resubmit.pbs
rmsd_handshake.tcl
rmsd.tcl
sbatchd
scaling
scaling1.pbs
scaling2.pbs
snapshots.tcl
submit
ti
transferg
transferg1
transferh
writepdb.tcl

flux-job-files:
6.1.inp
6.1.pbs
6.2.inp
6.2.pbs
6.3.inp
6.3.pbs
6.4.inp
6.4.pbs
6.5.inp
6.5.pbs
6.6.inp
6.6.pbs
7.1.inp
7.1.pbs
7.2.inp
7.2.pbs
README
run
submit

inpfiles:
6.1.inp
6.2.inp
6.3.inp
6.4.inp
6.5.inp
6.6.inp
7.1.inp
7.2.inp
hom_equilibration
long.conf
longer.conf
minimization.inp
SMD3ns.inp
SMD.inp
TMD2.inp
TMD3.inp
TMD4.inp
TMD5.inp
TMD.inp

jobs:
6.1.job
6.1.pbs
6.2.job
6.2.pbs
6.3.job
6.3.pbs
6.4.job
6.4.pbs
6.5.job
6.5.pbs
6.6.job
6.6.pbs
7.1.job
7.1.pbs
7.2.pbs
analysis.pbs
gpu_version
minimization.job
namd_gpu.pbs
template2.pbs
template.pbs

tcl_scripts:
copy_to_md_utils.sh
